In [14]:
# Q1.Create one variable containing following type of data:

In [28]:
a = "tatheer", ["pwskills"], 22.22, (1,2,3,"tatheer",45.56,[4,5,6])

In [17]:
type(a[0])

str

In [19]:
type(a[1])

list

In [21]:
type(a[2])

float

In [31]:
type(a[3])

tuple

In [32]:
# Q2.Given are some following variables containing data:

In [33]:
var1 = ''
var2 ='[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

In [37]:
type(var1)

str

In [39]:
type(var2)

str

In [41]:
type(var3)

list

In [42]:
type(var4)

float

In [43]:
# Q3.Explain the use of the following operators using an example:

In [47]:
#Answer (i). This / operator using for Dividing a value and its name is Division operator.

In [53]:
print(2 / 10)

0.2

In [ ]:
#Answer (ii).  This % operator calculate the remainder when one number is divided by another.

In [78]:
dividend = 10
divisor = 3
remainder = dividend % divisor
print(dividend % divisor)

1

In [79]:
#Answer (iii). This // operator is used to divide two numbers and get the whole number part of the result.

In [84]:
dividend = 12
divisor = 2
quotient = dividend // divisor
print(dividend // divisor)

6

In [92]:
#Answer (iv). This ** operator used to raise a number to a certain power.

In [ ]:
# 2*1=2 , 2*2=4 , 4*2=8

In [95]:
base = 2
exponent = 3
print(base ** exponent)

8

In [ ]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [1]:
l = [1,2,3,4,5,6,7,"tatheer",55.55,True]

In [4]:
l

[1, 2, 3, 4, 5, 6, 7, 'tatheer', 55.55, True]

In [6]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
tatheer
<class 'str'>
55.55
<class 'float'>
True
<class 'bool'>

In [8]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [16]:
A = int(input("Enter the number A"))
B = int(input("Enter the number B"))

count = 0
while A % B == 0:
    A = A // B 
    count += 1
    
if A == 0:
    print(f"{count} times")
else:
    print(f"{A} is the remainder, so {B} does not purely divide {A}.")

Enter the number A 10
Enter the number B 2

5 is the remainder, so 2 does not purely divide 5.

In [17]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [19]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible 3.")

1 is not divisible 3.
2 is not divisible 3.
3 is divisible by 3.
4 is not divisible 3.
5 is not divisible 3.
6 is divisible by 3.
7 is not divisible 3.
8 is not divisible 3.
9 is divisible by 3.
10 is not divisible 3.
11 is not divisible 3.
12 is divisible by 3.
13 is not divisible 3.
14 is not divisible 3.
15 is divisible by 3.
16 is not divisible 3.
17 is not divisible 3.
18 is divisible by 3.
19 is not divisible 3.
20 is not divisible 3.
21 is divisible by 3.
22 is not divisible 3.
23 is not divisible 3.
24 is divisible by 3.
25 is not divisible 3.

In [1]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this properties.

In [7]:
# Mutable :- Mutable data types are those that can be changed and modified after they are created.

In [10]:
l = [1,2,3,"tatheer",True,34.55]

In [12]:
l[3] = "ashish"

In [13]:
l

[1, 2, 3, 'ashish', True, 34.55]

In [17]:
# Immutable :- Immutable data types can't be changed once they are created.

In [20]:
t = "tatheer"

In [21]:
t

'tatheer'

In [23]:
t[2] = "s"

TypeError: 'str' object does not support item assignment